@use '../../assets/styles/variables.scss' as *;

.users {
  &-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @media (max-width: $screen-tablet-small) {
      flex-direction: column;
    }

    &_content {
      display: flex;
      align-items: center;
    }

    &_social {
      display: flex;
      align-items: center;

      gap: 1rem;

      @media (max-width: $screen-tablet-small) {
        flex-direction: column;
      }
    }
  }
}