@use '../../../assets/styles/variables.scss' as *;

.textarea {
  flex: 1;

  label {
    font-size: $text-sm;

    @media (max-width: $screen-tablet) {
      font-size: $text-base;
    }
  }

  &-container {
    display: flex;

    background-color: $bg-input;
    padding: .5rem 1rem;
    border-radius: 5px;

    textarea {
      width: 100%;
      background: none;
      border: none;
      outline: none;

      color: $color-placeholder;

      resize: vertical;
      overflow: hidden;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $color-placeholder;
      }
    }
  }
}