@use '../../assets/styles/variables.scss' as *;

.users {
  &-filter {
    background-color: $bg-card-dark;

    margin-bottom: 3rem;

    &_title {
      margin-bottom: 1rem;
    }

    .form-row {
      @media (max-width: $screen-tablet-small) {
        gap: 1rem;
      }
    }
  }
}