@use '../../assets/styles/variables.scss' as *;

.form-row {
  display: flex;
  gap: 1rem;

  @media (max-width: $screen-tablet-small) {
    flex-direction: column;
    gap: 0;    
  }

  button {
    align-self: flex-end;

    @media (max-width: $screen-tablet-small) {
      align-self: center;
    }
  }
}