@use '../../assets/styles/variables.scss' as *;

.author {    
  &-link {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  &-stamp {
    display: flex;
    flex-direction: column;
    
    &_name {
      font-weight: 700;
      font-size: $text-sm;

      @media (max-width: $screen-tablet) {
        font-size: $text-base;
      }
    }

    &_date {
      color: lighten($product-main, 20%);
      
      @media (max-width: $screen-tablet) {
        font-size: $text-xs;
      }
    }
  }
}