@use '../../assets/styles/variables.scss' as *;

.author {    
  &-link {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  &-stamp {
    display: flex;
    flex-direction: column;
    
    &_name {
      font-weight: 700;
      font-size: $text-sm;
      
      transition: color .2s linear;

      @media (max-width: $screen-tablet) {
        font-size: $text-base;
      }
    }

    &_date {
      color: lighten($product-main, 20%);
      
      @media (max-width: $screen-tablet) {
        font-size: $text-xs;
      }
    }
  }

  img {
    transition: width .2s linear,
    height .2s linear;
  }

  &:hover {
    .author-stamp {
      &_name {
        color: $color-navlink-hover;
      }
    }

    img {
      width: 130%;
      height: 130%;
    }
  }
}