@use '../../assets/styles/variables.scss' as *;

.header {
  position: relative;

  &-bg {
    background-color: antiquewhite;
    height: 400px;

    @media (max-width: $screen-tablet-small) {
      height: 300px;
    }
  }
}