@use '../../assets/styles/variables.scss' as *;

.main-social {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;

  gap: 1.5rem;

  @media (max-width: $screen-desktop-min) {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transform: translateY(-20rem);
  }
}