@use '../../assets/styles/variables.scss' as *;

.navbar {
  background-color: $bg-navbar;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  z-index: 100;
  
  &-inner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 1rem 0;
  }
  
  &-links {
    display: flex;

    gap:1rem;
    
    font-size: $text-md;
    
    a {
      color: $color-navlink;

      transition: color linear .2s;
      
      &:hover {
        color: $color-navlink-hover;
      }
    }
    
    @media (max-width: $screen-desktop) {
      font-size: $text-sm;
    }

    @media (max-width: $screen-tablet) {
        display: none;
    }
  }
  
  &-profile {
    
    &_menu {
      position: absolute;

      display: none;

      top: 69px;
      right: 0;
      
      font-size: $text-md;

      &.active {
        display: block;
      }
      
      ul {
        li {
          background-color: $bg-navbar;
          border-top: 1px solid $bg-card-light;

          &.mob-link {
            display: none;

            @media (max-width: $screen-tablet) {
              display: block;
            }
          }
          
          a {
            display: block;
            padding: 1rem 2rem;
          }

          transition: background linear .2s;

          &:hover {
            background-color: $bg-card-light;
          }
        }
      }
    }
  }
}